<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/stylesheets/followers.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

</head>

<body>



  <!-- <h1><%= title %></h1> -->
  <!-- <marquee><p id="top">Welcome to <%= pageOwner %>'s followers page</p></marquee> -->

  <div id="topMostBar">
    <ul>
      <!-- <li id="left-inTop"> -->
      <div>
        <li> <a href="#"> Home</a></li>
        <li><a href="#">Notification</a></li>
        <li><a href="#">Messages</a></li>
      </div>
      </li>
      <li id="mid-inTop"> <img src="../images/bird 2.svg" alt="" height="20px" width="20px"> </li>
      <!-- <li id="right-inTop" > -->
      <div id="search">
        <li> <input type="text" placeholder="Search twitter"> <i class="fa fa-search"></i> </li>
        <li><input type="button" value="Tweet"></li>
      </div>
      </li>

    </ul>
  </div>
  <div id="bar">
  </div>

  <div id="followers-panal">
      <!-- <div class="circle" style="position:absolute; margin-left: 20px; margin-top: -100px">

          
          <svg height="200" width="200">
            <circle cx="100" cy="100" r="100" stroke="white" stroke-width="3"/>
            <img src="../images/bird 2.svg" style="margin-top:-80px">
          </svg>
          
        </div> -->

    <!-- <div class="avatar-image">
      <a href="#" title="User" tabindex="-1" class="profileCard-avatar">
        <img src="" class="profile-image" />
      </a>
    </div> -->
    
    <img class="circleImage" width="100px" height="10px" src="../images/bird 2.svg" title="bird" alt="">
    



    <ul class="follower-panal" style="padding-left:250px; 
              text-align: center;
              color: gray;
              font-weight: bold;
              font-size: 13px;
            ">
      <li> <a href="#"> Tweet <br> <span class="num">408</span></a></li>
      <li><a href="#"> Following <br> <span class="num">198</span></a></li>
      <li><a href="#"> followers <br> <span class="num">71</span></a></li>
      <li><a href="#">Likes <br> <span class="num">19</span></a></li>
      <li><a href="#"> List <br> <span class="num">0</span></a></li>
      <li><a href="#">Moment <br><span class="num">1</span> </a></li>
    </ul>
  </div>
  <br>

  <div class="others">
    <div class="row">
      <div class="column2">
        <!-- <div class="in-column">this is nigeria</div>


          <div class="userDetails">
            <span class="usersName"> ME AND YOU</span>
            <br>
            <span class="userName">@lagbaga_01 followed you</span>

          </div>
          <div class="tweet-button" style="float:right">
            <a href="#"> <button class="B">FOLLOW</button></a> -->

        <!-- </div>  -->

      </div>
      <div class="column" style="background-color:rgb(245, 69, 98)">
        <!-- <div class="circle">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="40" stroke="white" stroke-width="3" />
          </svg> -->
          <img src="../images/vi8bM6GW_400x400.jpg" class="smallCircleImage"height="100px" width="100px" title="PHB" alt="">

        
        <div class="in-column">
          

        </div>
        <br> <br>

        <div class="userDetails">
          <span class="usersName">Phawazzzy's Blog</span>
          <div class="tweet-button" style="float:right">
              <a href=""> <button class="B">FOLLOW</button></a>
    
            </div>
          <br>
          <span class="userName">@PHB followed you </span>

        </div>

        
      </div>
      <div class="column" style="background-color:#001180">
        <!-- <div class="circle">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="40" stroke="white" stroke-width="3" />
          </svg> -->
          <img src="../images/bg-img2.jpg" class="smallCircleImage"height="100px" width="100px" title="ojay_graphics" alt="">

        
        <div class="in-column">
          

        </div>
        <br> <br>
        <div class="userDetails">
          <span class="usersName"> Ojay Graphics</span>
          <div class="tweet-button" style="float:right">
              <a href=""> <button class="B">FOLLOW</button></a>
    
            </div>
          <br> 
          <span class="userName">@ojay_graphics followed you</span>

        </div>
        
      </div>
      <div class="column" style="background-color:#2c2c34; margin-right: 0">
        <!-- <div class="circle">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="40" stroke="white" stroke-width="3" />
          </svg> -->
          <img src="../images/bg-img3.jpg" class="smallCircleImage"height="100px" width="100px" title="web backgrounds" alt="">

        
        <div class="in-column">
        

        </div>
        <br> <br>

        <div class="userDetails">
          <span class="usersName"> web backgrounds</span>
          <div class="tweet-button" style="float:right">
              <a href=""> <button class="B">FOLLOW</button></a>
    
            </div>
          <br>
          <span class="userName">@web_background followed you</span>

        </div>
        
      </div>


    </div>
    
  </div>




</body>

</html>