<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="index.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
  <link rel='stylesheet' href='/stylesheets/index.css' />



    <!--<script src="main.js"></script>-->
</head>
<body>
    <div id="sideNav">
        <div id="content">
            <div id="in">
                   <!-- <svg class="twitterIcon-bird" viewBox="0 0 1208 982" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                         Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch  
                        <title>bird</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Final-Horizon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Artboard" transform="translate(-286.000000, -117.000000)" fill-rule="nonzero" fill="#1B95E0">
                                <path d="M1493.75308,233.195911 C1449.31783,252.922544 1401.56126,266.207828 1351.43951,272.19627 C1402.61804,241.549536 1441.92034,192.987798 1460.3889,135.116296 C1412.53168,163.498493 1359.49119,184.130942 1303.02874,195.252335 C1257.88897,147.093181 1193.42514,117 1122.16771,117 C962.190754,117 844.636121,266.258151 880.768067,421.202806 C674.896491,410.886582 492.324484,312.253414 370.089808,162.341063 C305.17308,273.705962 336.423691,419.391176 446.731805,493.16476 C406.171431,491.856361 367.925917,480.734968 334.561738,462.165765 C331.844294,576.95263 414.122472,684.342008 533.287442,708.245454 C498.413572,717.706186 460.218381,719.9204 421.368991,712.47259 C452.871217,810.904465 544.358512,882.514158 652.854997,884.52708 C548.686294,966.201382 417.443793,1002.68559 286,987.186091 C395.653915,1057.48739 525.940278,1098.50067 665.838342,1098.50067 C1125.89162,1098.50067 1385.81015,709.956437 1370.10936,361.469352 C1418.52012,326.494836 1460.53987,282.864756 1493.75308,233.195911 Z" id="bird"></path>
                            </g>
                        </g>
                    </svg> -->
            <p>
               <i class="fa fa-search" style="font-size :24px;  "></i> follow your thought
            </p>
            <br>

            <p>
            <img src="../images/user-friends-solid.svg" height="20px" width="24px" style="color:white" style="padding-right: 10px"> Hear what people are talking about.
            

            </p>
            <br>
            <p>
                 <i class="fa fa-comment" style= "font-size: 24px;"></i> join the conversation.
            </p>
            </div>
        </div>

    </div>

    <div id="rightside">
        <div id="log in">
            <form action="" id="form">
                <ul>
                     <li><input type="text" class="upForm" placeholder="phone, email or username" style="border-radius:3px"></li>
                     <li><input type="password" class="upForm" placeholder="password" style="border-radius:3px"></li>

                    <li> <button value="log in" class="upForm" id="t"><a  style="color:#1da1f2" href="login.html">log in</a></button></li>
                       
                    
                </ul>
                <span class="forget"> <a href=""> Forget password? </a></span>
            </form>
        </div>   
        
        <div id="mid-right">
            <img src="../images/bird 2.svg" alt="bird" width="40px" height="40px">
            <h1 id="h1">see what's happening in the world right now</h1> <br>
            <h3>Join Twitter today</h3>
            <a class="but" id="but1" style="background-color:#1da1f2; color: white;" href="https://twitter.com/signup">
                Sign Up
              </a>
              <br> <br> <br>
              <a class="but" style="padding:8px 160px;" href="/login">
                log in
            </a>
            
            <!-- <span class="log"><a href="" class="downForm"> sign in</a> </span><br> <br>
           <span class="log"><a href="" class="downForm"> log in </a></span> -->
    </div>
    </div>

    <footer>
        <ul class="foot" >
            <li class="lit"> <a href="">About</a> </li>
           <li class="lit">  <a href="">Help Center </li> 
           <li class="lit"> <a href=""> Blog</a></li> 
           <li class="lit"> <a href=""> Status</a></li> 
           <li class="lit"> <a href=""> Job</a></li> 
           <li class="lit"> <a href=""> Terms</a></li> 
           <li class="lit"> <a href=""> Privacy Policy</a></li> 
           <li class="lit"> <a href=""> Cookies</a></li> 
           <li class="lit"> <a href=""> Ad info</a></li> 
           <li class="lit"> <a href=""> Brands</a></li> 
           <li class="lit"> <a href=""> App</a></li> 
           <li class="lit"> <a href=""> Advertise</a></li> 
           <li class="lit"> <a href=""> Marketing</a></li> 
           <li class="lit"> <a href=""> Business</a></li> 
           <li class="lit"> <a href=""> Developers</a></li> 
           <li class="lit"> <a href="">Directory</a></li> 
           <li class="lit"> <a href="">Setting</a></li> 
           <li class="lit"> <a href="">© 2018 Twitter</a></li> 
        </ul>
    </footer>
    

</body>
</html>