<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/login.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
   <center>
   <div>
       <img src="../images/bird 2.svg" alt="bird" height="30px" width="30px"> 
       <h3>log in to twitter</h3> 
       <form action="">
        <ul>
       <li><input type="text" placeholder="phone, email, or username"> </li> <br>
       <li> <input type="password" placeholder="password"> </li>
       </ul> <br>
       </form>
       <a href="/followers" id="log">log in</a> <br> <br>
       <span> <a href="" id="forget"> Forget password?. Sign up for twitter</a></span>
   </div> 
   </center>
</body>
</html>