<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= username %></h1>
    <p>Welcome to <%= username %> page</p>

    <h1 style="text-align:center">SORRY WE DONT HAVE THIS USER ON OUR DATABASE</h1>
  </body>
</html>
